* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #fff;
}

img {
  max-width: 100%;
}

ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  display: inline-block;
}
